* {
	@include box-sizing(border-box);
}

html, body {
	@include size(100% 100%);
	margin: 0;
	padding: 0;
}

.running {
	#presentation {
		@include position(fixed, 0px 0px 0px 0px);
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background: #000;
	
		.slide {
			@include position(absolute, 0px 0px 0px 0px);
			display: none;
			margin: 0;
			padding: 0;
	
			&.active {
				@include display(flex);
			}
	
			&.viewed, &.no_transition {
				@include display(flex);
				@include animation(none !important);
			}
		}
	}
}
