$light_color: #f0f0f0;
$ghosted_color: #8a8a95;
$dark_color: #2d3244;
$accent_color: #08c882;

$ratio: 1.6;
$font_size: 16px;
$line_height: floor($font_size*$ratio);
$headline_font: "din-condensed-web",sans-serif;

$large_screen: 1200px;
$tablet_l: 1024px;
$tablet_p: 768px;
$mobile_l: 568px;
$mobile_p: 360px;

%smooth {
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: 'liga', 'dlig';
	-moz-font-feature-settings: 'liga', 'dlig';
	font-feature-settings: 'liga', 'dlig';
	text-rendering: optimizeLegibility;
}

%animated {
	@include transition(all 0.5s ease-in-out);
}

%font {
	@extend %smooth;
	font-family: "museo-sans-rounded", sans-serif;
	font-weight: 500;
	color: $dark_color;
	line-height: $line_height;
}