#style_padding {
	.icon {
		background: teal;
	}

	.drop_down_content {
		right: calc(50% - 100px);
		width: 200px;
	}
}

#style_border {
	.icon {
		background: green;
	}

	.drop_down_content {
		right: calc(50% - 100px);
		width: 200px;
	}
}

#style_background_color {
	.icon {
		background: blue;
	}

	.drop_down_content {
		right: calc(50% - 100px);
		width: 200px;
	}
}