* {
	@include box-sizing(border-box);

	&::selection {
		background: rgba($accent_color, .5);
	}

	&::-moz-selection {
		background: rgba($accent_color, .5);
	}
}


html, body {
	@include size(100% 100%);
	margin: 0;
	padding: 0;
}

#editor {
	width: calc(#{$editor_width});
	height: 100%;
	float: left;
}

#presentation {
	height: 100%;
	width: calc(100% - #{$editor_width});
	float: right;
}

#code {
	@extend %smooth;
	background-color: darken($button_bg, 20%);
	color: $code_color;
	padding: 10px;
	font-family: "Courier","Lucida Grande","Myriad Pro", arial;
	font-weight: 700;
	font-size: 14px;
	border: none;
	width: 100%;
	height: calc(100% - #{$editor_height});
	outline: none;
	resize: none;
}

#slide {
	width: 100%;
	height: calc(100% - #{$editor_height});
	float: right;
	background: gray;
}

#code_options {
	@include size(100% $button_height);
	background-color: $button_bg;
	list-style: none;
	margin: 0;
	padding: 0;
}

#slide_options {
	@include size(100% $button_height);
	background-color: $button_bg;
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	@include size($button_height $button_height);
	float: left;
	position: relative;

	.drop_down {
		@include size(100% 100%);
		opacity: 0;
		
		+ .drop_down_content {
			@include position(absolute, $button_height+3px 0 0 0);
			text-align: center;
			color: $button_bg;
			background-color: rgba($code_color, .85);
			padding: 5px;
			border-radius: 3px;
			display: none;

			&:after {
				@include position(absolute, -10px 0 0 0);
				border-style: solid;
				border-width: 0 8px 10px 8px;
				border-color: transparent transparent rgba($code_color, .85) transparent;
				right: calc(50% - 8px);
				content: " ";
				background-color: transparent;
			}
		}
	
		&:checked + .drop_down_content {
			display: block;
		}
	}
}



.button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	display: inline-block;
	cursor: pointer;

	> span {
		background-image: url(../images/wmd-buttons.png);
		background-repeat: no-repeat;
		background-position: 0px 0px;
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}

.prompt-background {
	background-color: rgba(black, .5);
}
	
.prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;

	> div {
		font-size: 0.8em;
		font-family: arial, helvetica, sans-serif;
	}

	input[type="text"] {
		border: 1px solid #999999;
		color: black;
	}

	input[type="button"]{
		border: 1px solid #888888;
		font-family: trebuchet MS, helvetica, sans-serif;
		font-size: 0.8em;
		font-weight: bold;
	}
}

#controls {
	@include position(fixed, 0 0px 0px 0px, 999);
	height: $control_height;
	background-color: blue;
}

#timeline {
	@include position(fixed, 100% 0px 0 0px, 998);
	height: $control_height*3;
	background: red;

	&.open {
		top: auto;
		bottom: $control_height;
	}
}