/* line 21, ../scss/_variables.scss */
#code {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga', 'dlig';
  -moz-font-feature-settings: 'liga', 'dlig';
  font-feature-settings: 'liga', 'dlig';
  text-rendering: optimizeLegibility;
}

/* line 1, ../scss/_core.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 4, ../scss/_core.scss */
*::selection {
  background: rgba(31, 228, 138, 0.5);
}
/* line 8, ../scss/_core.scss */
*::-moz-selection {
  background: rgba(31, 228, 138, 0.5);
}

/* line 14, ../scss/_core.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 20, ../scss/_core.scss */
#editor {
  width: calc(500px);
  height: 100%;
  float: left;
}

/* line 26, ../scss/_core.scss */
#presentation {
  height: 100%;
  width: calc(100% - 500px);
  float: right;
}

/* line 32, ../scss/_core.scss */
#code {
  background-color: #1f212a;
  color: #edf2f6;
  padding: 10px;
  font-family: "Courier","Lucida Grande","Myriad Pro", arial;
  font-weight: 700;
  font-size: 14px;
  border: none;
  width: 100%;
  height: calc(100% - 100px);
  outline: none;
  resize: none;
}

/* line 47, ../scss/_core.scss */
#slide {
  width: 100%;
  height: calc(100% - 100px);
  float: right;
  background: gray;
}

/* line 54, ../scss/_core.scss */
#code_options {
  width: 100%;
  height: 50px;
  background-color: #4a4f65;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 62, ../scss/_core.scss */
#slide_options {
  width: 100%;
  height: 50px;
  background-color: #4a4f65;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 70, ../scss/_core.scss */
.btn {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
}
/* line 75, ../scss/_core.scss */
.btn .drop_down {
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* line 79, ../scss/_core.scss */
.btn .drop_down + .drop_down_content {
  position: absolute;
  top: 53px;
  text-align: center;
  color: #4a4f65;
  background-color: rgba(237, 242, 246, 0.85);
  padding: 5px;
  border-radius: 3px;
  display: none;
}
/* line 88, ../scss/_core.scss */
.btn .drop_down + .drop_down_content:after {
  position: absolute;
  top: -10px;
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent rgba(237, 242, 246, 0.85) transparent;
  right: calc(50% - 8px);
  content: " ";
  background-color: transparent;
}
/* line 99, ../scss/_core.scss */
.btn .drop_down:checked + .drop_down_content {
  display: block;
}

/* line 107, ../scss/_core.scss */
.button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  display: inline-block;
  cursor: pointer;
}
/* line 115, ../scss/_core.scss */
.button > span {
  background-image: url(../images/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

/* line 125, ../scss/_core.scss */
.prompt-background {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 129, ../scss/_core.scss */
.prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5;
}
/* line 133, ../scss/_core.scss */
.prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}
/* line 138, ../scss/_core.scss */
.prompt-dialog input[type="text"] {
  border: 1px solid #999999;
  color: black;
}
/* line 143, ../scss/_core.scss */
.prompt-dialog input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

/* line 151, ../scss/_core.scss */
#controls {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  height: 50px;
  background-color: blue;
}

/* line 157, ../scss/_core.scss */
#timeline {
  position: fixed;
  top: 100%;
  right: 0px;
  left: 0px;
  z-index: 998;
  height: 150px;
  background: red;
}
/* line 162, ../scss/_core.scss */
#timeline.open {
  top: auto;
  bottom: 50px;
}

/* line 1, ../scss/_buttons.scss */
#style_padding {
  background: red;
}
/* line 4, ../scss/_buttons.scss */
#style_padding .drop_down_content {
  right: calc(50% - 100px);
  width: 200px;
}

/* line 10, ../scss/_buttons.scss */
#style_border {
  background: green;
}
/* line 13, ../scss/_buttons.scss */
#style_border .drop_down_content {
  right: calc(50% - 100px);
  width: 200px;
}

/* line 19, ../scss/_buttons.scss */
#style_background_color {
  background: blue;
}
/* line 22, ../scss/_buttons.scss */
#style_background_color .drop_down_content {
  right: calc(50% - 100px);
  width: 200px;
}
